

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');


:root{
    --bs-container: #18253B;
    --solusersa: #a3d2e6;
    --solusersa-head: #00578a; 
}

.bg-container{
    background-color: var(--bs-container);
    color: antiquewhite;
}

body {
    background-color: #F7F0C6;
}

:root {
    --color-barra-lateral: #18253B;
    --color-texto: #F7F0C6;
    --color-texto-menu: #F7F0C6;
    --color-boton-texto: #F7F0C6;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans SC', sans-serif;
}

body {
   
    height: 100vh;
    width: 100%;

}

.barra-lateral {
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease;
}

.mini-barra-lateral {
    width: 80px;

}

/*--------* nombre de la página*/
.barra-lateral .nombre-pagina {

    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;

}

.barra-lateral .nombre-pagina ion-icon {
    
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;

}
.barra-lateral .nombre-pagina span{

    font-size: 25px;
    margin-left:5px ;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.barra-lateral .nombre-pagina span.oculto{
    opacity: 0px;
}

.barra-lateral .navegacion li {
    border: 2px solid red;
    list-style: none;
    display: flex;
    margin-bottom: 5px;

}

.barra-lateral.navegacion a {
    border: 2px solid #a3d2e6;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto-menu );

}

.barra-lateral .navegacion ion-icon{
    border: 2px solid blue;
    min-width: 50px;
    font-size: 20px;
}