:root{
    --bs-container: #18253B;
    --solusersa: #a3d2e6;
    --solusersa-head: #00578a; 
}

.bg-container{
    background-color: var(--bs-container);
    color: antiquewhite;
}

body {
    background-color: #F7F0C6;
}

:root {
    --color-barra-lateral: #18253B;
    --color-texto: #F7F0C6;
    --color-texto-menu: #F7F0C6;
    --color-boton-texto: #F7F0C6;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    height: 100vh;
    width: 100%;

}

.barra-lateral {
    width: 250px;
    height: 100%;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
}

.mini-barra-lateral {
    width: 80px;
    
}

/*--------* nombre de la página*/
.barra-lateral .nombre-pagina {
    border: 2px solid red;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;

}

.barra-lateral .nombre-pagina ion-icon {
    border: 2px solid slateblue;
    min-width: 50px;
    font-size: 40px;

}
.barra-lateral .nombre-pagina span{
    border: 2px solid #F7F0C6;
    font-size: 25px;
    margin-left:5px ;
}

